.big {
  background-image: url(https://s3-alpha-sig.figma.com/img/d6e3/a661/358be3e6a8f11ad8d5091340bc1cf379?Expires=1739750400&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=XPki-hc00PJxODQCYw-ciekg9AZslIx7dVsFJMWoBcRLmpdrxQAkWKCPGExAEZDmWZxaRQYQzm9yMCJ~EWnmuzg4GR-jkZuVC7JVGLKuYSJd0C-EVa7mBs4iuhhkYSTJko~2EbReks-QuDRaXawr9Gk9SUbSRTMIPgj5DirLZE6qDHE9mkpf8CHby1HrObwij4ZQ3nD9HM7X-g77rP-oKg3nnof5pjtw91nbC8TG~PPOWY1CMOuKz-LvlKVpXKrdzdQjTy1~J6IkYTLqJUGGUNEkJjAQ3NExmY8IhvLLtTPW6t~2dM3UGTauK6h~qLFAMxxbCVf8EI6DWuDGbpHNTg__);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
